.App {
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0;
}

.empty-chart {
  position: relative;
  background-color: rgb(240, 240, 240);
  height: 500px;
}

.empty-chart.adblock-detected {
  background-color: rgba(255, 0, 0, 0.1);
}

.gpt-ad {
  border: 1px solid rgb(225, 225, 225);
  margin: 10px auto;
}

.PEI-button-group {
  margin-bottom: 10px;
}

.PEI-button-group label {
  border: none;
  outline: none;
  background-color: rgb(240, 240, 240);
  font-weight: bold;
  transition: 0.2s ease all;
}

.PEI-button-group label:hover {
  background-color: lightgray;
}

.PEI-button-group label.active, .PEI-button-group label.active:hover {
  color: white;
  background-color: mediumblue;
}

.checkbox label {
  transition: 0.2s ease all;
}

.checkbox label:hover {
  color: mediumblue;
}

.faq {
  margin-top: 75px;
}

input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  text-align: center;
  transition: 0.2s ease all;
}

input:hover {
  color: mediumblue;
  border-bottom: 1px solid mediumblue;
}

input:focus {
  outline-width: 0;
}

a {
  color: mediumblue;
  transition: 0.2s ease all;
}

a:hover {
  color: navy;
}

button {
  white-space: nowrap;
  border: none;
  outline: none;
  padding: 8px 40px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: mediumblue;
  color: white;
  font-weight: bold;
  transition: 0.2s ease all;
}

button:hover {
  background-color: navy;
}

@media screen and (max-width: 800px) {
  button {
    padding: 5px 25px;
    border-radius: 4px;
  }
}
